body{
    background-color: rgba(245,247,250,255);
}
.center {
}

.partners{
    flex-wrap: wrap;
    top: 0;
    display: none;
}

.center > img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.cardd{
    display: none;
    width: 200px;
    height: 300px;
    padding: 2%;
    overflow: hidden;
    margin: 20px 10px;
}

.cardd > img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);
    transition: 0.25s;

}

#cross{
    float: left;
    margin-top: 5px;
    font-size: 40px;
    padding: 10px;
}
#cross > i{
    z-index: 100;
    position: absolute;
    color: red;
}

#cross > i:hover{
    cursor: pointer ;
}
.cardd_footer{
    width: 200px;
    z-index: 100;
    position: absolute;
    color: white;
    top: 350px;
    padding-left: 20px;
    word-break: break-word;
    border-radius: 25px;
}


.cardd > img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.pickedCard{
    display: none;
}

.cardd_sel{
    width: 400px;
    padding: 40px;
    display: none;
}

.cardd_sel > img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);

}
.cardd_sel_footer{
    width: 400px;
    z-index: 100;
    position: absolute;
    top: 580px;
    padding-left: 20px;
    padding-bottom: 20px;
    word-break: break-word;
    border-radius: 25px;
}
.icons{
    z-index: 100;
    position: absolute;
    color: white;
    top: 750px;
    padding-left: 15px;
    font-size: 50px;
    width: 400px;
}

.icons > a > i{
    background-color: #fff;
    border-radius: 50%;
    font-size: 50px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.icons > a > i:hover{
    cursor: pointer;
}

.its_a_match{
    display: none;
    width: 100%;
}

.match_card{
    float: left;
    width: 400px;
    margin: 2%;
}

.match_card > img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);
}

.match_card2{
    float: right;
    width: 400px;
    margin: 2%;
}

.match_card2 > img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);
}

.match_card > img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.8);
}
